<!doctype html>
<head>
	<title>New Leaf QR</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div id="logo">
		<a href=""><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
	</div>
	<a href="dresses"><img src="{{ url_for('static', filename='images/dresses.png') }}" id="dresses"></a>
	<a href="shirts"><img src="{{ url_for('static', filename='images/shirts.png') }}" id="shirts"></a>
	<a href="hats"><img src="{{ url_for('static', filename='images/hats.png') }}" id="hats"></a>
	<a href="patterns"><img src="{{ url_for('static', filename='images/patterns.png') }}" id="patterns"></a>
	<a href="cutouts"><img src="{{ url_for('static', filename='images/cutouts.png') }}" id="cutouts"></a>
	<a href="paths"><img src="{{ url_for('static', filename='images/paths.png') }}" id="paths"></a>
</body>

